
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#header {
    position: static;
    background-color: whitesmoke;
}

#destDetail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 8%;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.destcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 600px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 0;
}

.destcard .dest-card-title {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #f5f5f5;
    color: black;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
}

.destcard .dest-duration {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.destcard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.destcard .dest-card-price {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.destcard .dest-card-tour-list {
    margin-top: 10px;
}

.destcard .dest-card-tour-list li {
    margin-bottom: 5px;
}

.destcard button {
    background-color: #359381;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  

  .destcard button:focus {
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 0.7rem;
    background-image: linear-gradient(rgb(214, 202, 254), #359381);
    border: 2px solid rgb(50, 50, 50);
    border-bottom: 5px solid rgb(50, 50, 50);
    box-shadow: 0px 1px 6px 0px #359381;
    transform: translate(0, -3px);
    transition: 0.2s;
    transition-timing-function: linear;
  }
  
  .destcard button:active {
    transform: translate(0, 0);
    border-bottom: 2px solid rgb(50, 50, 50);
  }


  #destHeading {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;

    color: #222;
    animation-name: bounceIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }


  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
  #destHeading span {
    color: #5e5e5e;
  }
  

/* Media queries for different screen sizes */


@media only screen and (max-width: 768px) {
    #destDetail {
        grid-template-columns: 1fr;
        padding: 5%;
    }

    .destcard {
        margin-bottom: 10px;
    }

    #destHeading {
        font-size: 36px;
    }
}


@media only screen and (max-width: 480px) {
    .destcard {
        padding: 10px;
    }

    .destcard img {
        height: 200px;
    }
    
    .destcard .dest-card-title {
        font-size: 18px;
    }

    #destHeading {
        font-size: 26px;
    }
}


@media only screen and (max-width: 320px) {
    .destcard .dest-card-title {
        font-size: 16px;
    }

    #destHeading {
        font-size: 16px;
    }
}
  