@import url('https://fonts.googlepis.com/css2?famaliy=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    /* display: flex;
    align-items: flex-end; */

}


/* /* header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
} 

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px ;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;

}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
} */

/* login button */



.navigation a.active1 {
    background:#fddb5b;
    color: #664a03;
}
.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 2em;
    word-wrap: break-word;
    width: 50%;
    font-weight: bolder;
    /* color: #333; */
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2) ;
    text-align: center;
}

#botomh1{
    font-size: larger;
}
.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background:rgba(2,33,53,255);
    padding: 100px 0;
}
#aboutsec{
    padding: 100px;
}
.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    text-align:justify;
}

#viidiofram {
  width:70%;
  height:500px;
  /* border:1px solid red; */
    text-align: center;
    margin:auto;
}
#viidiofram iframe {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* footer section  */

/* destinations */
#Destination-head{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  cursor:not-allowed;
  text-decoration: underline;
  margin-top:50px;
  color:rgb(53, 44, 110);
}
#destination-container{
    width:85%;
    height:auto;
    /* border:1px solid black; */
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;;
   margin: auto;
}
#destination-container>div{
    /* width:25%; */
    height:300px;
    /* border:1px solid green; */
    transition: width 1s, height 2s;
    /* background-image: linear-gradient(to right, #75ccf2, #88f5c0, #b8f9d9, #a1e7c5); */
    /* box-shadow: 0 4px 15px 0 rgba(160, 251, 248, 0.75); */
    color:white;
    background-color: #022135;
    border-radius: 10px;;
}
#destination-container>div:hover{
    color:#022135;
    transform: scale(0.96);
    background-image: linear-gradient(to right, #75ccf2, #88f5c0, #b8f9d9, #a1e7c5);
    box-shadow: 0 4px 15px 0 rgba(39, 203, 154, 0.75);
  }
#destination-container div>img{
 width:100%;
 height:80%;
 object-fit: cover;
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
 /* border:1px solid red; */
}
#destination-container div>h3{
    font-size: 20px;
    color:white;
    text-align: center;
    margin-top: 15px;;
    
}

#destination-container div>h3:hover{
    color:#022135;
    text-align: center;
    margin-top: 15px;;
    
}









/* ///  activity */

#activity-head{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    cursor:not-allowed;
    text-decoration: underline;
    margin-top:50px;
    color:rgb(53, 44, 110);
  }
  #activity-container{
      width:85%;
      height:auto;
      /* border:1px solid black; */
      display:grid;
      grid-template-columns: repeat(3,1fr);
      gap: 20px;;
     margin: auto;
     margin-bottom: 50px;;
  }
  #activity-container>div{
      /* width:25%; */
      height:300px;
      /* border:1px solid rgb(150, 146, 146); */
      transition: width 1s, height 2s;
      color:white;
      /* background-image: linear-gradient(to right, #75ccf2, #88f5c0, #b8f9d9, #a1e7c5);
      box-shadow: 0 4px 15px 0 rgba(160, 251, 248, 0.75); */
      background-color:#022135;
      border-radius: 10px;;
  }
  #activity-container>div:hover{
    transform: scale(0.96);
    background-image: linear-gradient(to right, #75ccf2, #88f5c0, #b8f9d9, #a1e7c5);
    box-shadow: 0 4px 15px 0 rgba(39, 203, 154, 0.75);
  }
  #activity-container div>img{
   width:100%;
   height:80%;
   object-fit: cover;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   /* border:1px solid red; */
  }
  #activity-container div>h3{
      font-size: 20px;
      color:white;
      text-align: center;
      margin-top: 15px;;
  }
  #activity-container div>h3:hover{
    color:#022135;
  }


    /* Medium Screen */
    @media only screen and (min-width: 500px) and (max-width: 768px) {
        #viidiofram{
            display: contents;
        }
        .sec{
            display: contents;
        }

        #destination-container{
         
            grid-template-columns:  repeat(4, 1fr);
        }
        #activity-container {
            grid-template-columns:  repeat(3, 1fr);
           
           }
           .aboutsec{
            display: contents;
           }
            }
    
    
    
            /* Small Screen */
          @media only screen and (min-width: 320px) and (max-width: 499px) {
            #Hill3,#hill4,#hill5,#Ttree,#leaf,#Pplan {
               visibility: hidden;
            }
            .parallax>img{
               /* width: fit-content; */
               width: min-content;
              size-adjust: auto;
              
            }
           


            .parallax>h5{
                
                visibility: hidden;

                margin-top: 0;
            }
            #viidiofram{
                display: none;
            }
            .sec{
                display: none;
            }
            #destination-container{
         
                grid-template-columns:  repeat(2, 1fr);
            }
            #activity-container {
            grid-template-columns:  repeat(2, 1fr);
           }
           .aboutsec{
            display: none;
           }
    
            }