* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#header {
    position: static;
    background-color: whitesmoke;
}


/* slider */
.slider_img {
    border-radius: 1em;
    width: 100%;
    height: 450px;
    object-fit: cover;
   
}
.mySlides{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.w3-button {
    background-color: #359381;
    border-radius: 1em;
    margin: 0 1.5em;
}